button {
    border-style: none;
    background-color: transparent;
}

.Logo {
    height: 50px;
    width: 50px;
    border-style: none;
}

.Signiture {
    height: 62px;
    width: 291px;
    border-style: none;
}

.Social_medium {
    width: 40px;
}