button {
    border-style: none;
    background-color: transparent;
}

.Logo {
    height: 50px;
    width: 50px;
    border-style: none;
    border-radius: 50%;
}

.Logo:hover {
    box-shadow: 3px 3px 10px #00000080;
}

.Signiture {
    height: 62px;
    width: 291px;
    border-style: none;
}

.Social_medium {
    width: 40px;
    border-radius: 50%;
}

.Social_medium:hover {
    box-shadow: 3px 3px 10px #00000080;
}