@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@200&display=swap');

.mainBlock {
    position: relative;
    width: calc(100% - 380px);
    left: 190px;
    right: 190px;
}

/*********************************** Albums ***********************************/
.albums-box {
    position: relative;
    width: 100%;
    height: 530px;
    /* background-color: aqua; */
    z-index: -1;
    align-items: center;
}

.albums {
    width: calc(100% - 380px);
    height: 480px;
    position: absolute;
    right: 190px;
    left: 190px;
    top: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    align-items: center;
    /* background-color: #ababab; */
}

.albums-innerbox {
    width: 100%;
    height: 400px;
    position: absolute;
    display: flex;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
    /* background-color:aquamarine; */
    justify-content: space-around;
}

.cover{
    height: 300px;
    /* box-shadow: 3px 3px 10px #000; */
}

.cover:hover {
    height: 500px;
    transition: ease-in-out;
    transform: scale(105);
    box-shadow: 3px 3px 10px #ababab;
}

.navigation {
    position: absolute;
    display: flex;
    bottom: 0px;
    /* background-color:bisque; */
    right: 350px;
    left: 350px;
    justify-content: space-between;
}

.arrow {
    width: 35px;
    border-style: none;
    border-radius: 50%;
    box-shadow: 3px 3px 10px #ababab;
}

/*********************************** My Journey ***********************************/

.myJourney {
    position: relative;
    width: 100%;
    padding-top: 100px;
    z-index: -1;
    /* background-color: aliceblue; */
}

/*********************************** Media and Style ***********************************/

.mediastyle {
    position: relative;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: -1;
}