@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@200&display=swap');

.mainBlock {
    position: relative;
    width: calc(100% - 380px);
    left: 190px;
    right: 190px;
}

/*********************************** Albums ***********************************/
.albums {
    position: relative;
    width: 100%;
    padding-top: 50px;
    /* background-color: aliceblue; */
    z-index: -1;
}

.button {
    height: 40px;
    width: 40px;
    border-style: none;
    border-radius: 50%;
    box-shadow: 3px 3px 10px #ababab;
}

/*********************************** My Journey ***********************************/

.myJourney {
    position: relative;
    width: 100%;
    padding-top: 100px;
    z-index: -1;
    /* background-color: aliceblue; */
}

/*********************************** Media and Style ***********************************/

.mediastyle {
    position: relative;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: -1;
}