@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@200&display=swap');

/* @font-face {
    font-family: 'Grape Nuts';
    src: url(/public/fonts/Grape_Nuts/GrapeNuts-Regular.ttf) format('truetype');
    font-display: swap;
  }  

@font-face {
    font-family: 'Roboto Mono';
    src: url(/public/fonts/Roboto_Mono/static/RobotoMono-Regular.ttf) format('truetype');
    font-display: swap;
}   */

* {
    margin: 0px;
}

.Intro {
    /* background-color: #9c9c9c; */
    height: 700px;
    z-index: -1;
    position: relative;
}

.name_about {
    position: absolute;
    /* display: flex; */
    font-size: 38px;
    top: 37%;
    left: 190px; /* size of margins */
    font-family: 'Grape Nuts', cursive;
    padding-left: 0px;
}

.profession_about {
    position: absolute;
    /* display: flex; */
    font-size: 30px;
    top: 50%;
    left: 190px; /* size of margins */
    font-family: 'Roboto Mono', sans-serif;
    padding-left: 0px;
}

.links_about {
    position: absolute;
    display: flex;
    font-size: 20px;
    top: 63%;
    left: 190px; /* size of margins */
    font-family: 'Roboto Mono', sans-serif;
    padding-left: 0px;

    gap: 107px;
}

.link{
    color: #000;
    font-family: 'Roboto Mono', sans-serif;
    text-decoration: none;
  }

.link:hover{
    color: #000;
    text-shadow: 3px 3px 10px #ababab;
    text-decoration: none;
  }
  
.link:active{
    color: #000;
    text-shadow: none;
    text-decoration: none;
}

.profile_about {
    position: absolute;
    width: 300px;
    display: flex;
    right: 190px; /* size of margins */
    top: 30%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #777676;
}

/*********************************** countries ***********************************/

.countries {
    background-color: #D9D9D9;
    position: relative;
    display: flex;
    left: 0px;
    z-index: -1;

    width: 100%;
    height: 200px;
    /* padding-left: 0px; */
    /* padding-right: 200px;  */
    align-items: center;
}

.flags {
    position: absolute;
    top: 63px;
    display: flex;
    list-style-type: none;

    left: 190px;
    right: 190px;
    padding-left: 0px;
    justify-content: space-between;
}

.flag {
    left: 0;
    width: 74px;
}

/*********************************** description ***********************************/

.description {
    position: relative;
    display: flex;
    z-index: -1;
    width: 100%;
    /* background-color: #777676; */
    justify-content: space-between;
    padding: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.mainBlockRow {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 380px);
    left: 190px;
    right: 190px;
    /* background-color: aqua; */
    gap: 70px;
}

.block {
    position: relative;
    /* background-color: #ababab; */
    /* width: 285px; */
    text-align: center;
}

.title {
    position: relative;
    text-align: center;
    font-family: 'Source Serif 4', serif;
    font-size: 40px;
}

.body {
    /* width: 285px; */
    font-family: 'Roboto Mono', sans-serif;
    font-size: 20px;
    padding-top: 70px;
    line-height: 40px;
    /* background-color: #777676; */
    left: 190px;
    right: 190px;
}
